table,
tr,
th,
td {
    border: 1px solid;
    border-collapse: collapse;
}

th {
    font-weight: bold;
}

th,
td {
    padding: .3em 1em;
}

button.big {
    margin: 1em 0;
}

button.green {
    background-color: lightgreen;
}

button.red {
    background-color: lightcoral;
}

a.file {
    color: inherit;

    &::before {
        content: "🖹";
    }
}